
body{
    font-family: "Raleway"
}

.servicios{
    text-align: center;
}

.servicios h1{
    font-size: 4em !important;
    text-align: center;
}

.table-responsive{
    background-color: #fff;
}
.servicios-derecha p{
    text-align:center;
}

.servicios-derecha{
    text-align: center;
}

.nav-arriba .glyphicon{
    font-size: 150%;
}

.segundo-bloque{
    margin-top: 3%;
}

.fa{
    font-size: 100px !important;
    display:block;
}

.redes-bloque a{
    text-decoration: none;
    text-align: center;
}

.redes-bloque i{
    color: #d7c94c;
    text-align: center;
}
[class^="centrar"], [class*=" centrar"] {
    display: inline-block;
    width: 100%;
}

.redes-bloque i:hover{
    color: #f3e353;
    text-align: center;
}

.tercer-bloque{
    margin-top: 3%;
    padding-bottom: 2%;
}

.perfil-derecho i{
    font-size: 12px !important;
}


.create{
    margin-top: 4%;
    font-size: 1.5em;
}
footer{
    text-align: center;
    padding-bottom: 2%;
}

.panel-titulo{
    background-color: #29abe1;
    padding: 0.5%;
    margin-bottom: 2%;
    color: #fff;
}

.menu-iconos{
    font-size: 12px !important;
}

.especial{
    font-size: 24px;
    color: #29abe1;
    font-weight: 600;
}

.nick{
    padding-right: 2%;
}

.detalles-texto{
    background-color: #f3e353;
    font-size: 1.4em;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
    margin-bottom: 1%;
}

.detalles{
    padding-left: 2%;
}

.boton-message{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
/*

otro*/

.navbar-default{
    background-color: #676767;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #676767;
    color: #000;
}

.navbar-collapse span{
    padding-top: 1%;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub_icon
{
    padding-top:10px;
}
.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all .4s ease 0s;
    }
}

.nav-arriba .glyphicon{
    font-size: 150%;
}

.panel{
    padding: 4% 5%;
}

.segundo-bloque{
    margin-top: 3%;
}

.fa{
    font-size: 25px !important;
    display:block;
}

.redes{
    font-size: 100px !important;
}

.redes-bloque a{
    text-decoration: none;
    text-align: center;
}

.redes-bloque i{
    color: #d7c94c;
    text-align: center;
}
[class^="centrar"], [class*=" centrar"] {
    display: inline-block;
    width: 100%;
}

.redes-bloque i:hover{
    color: #f3e353;
    text-align: center;
}

.tercer-bloque{
    margin-top: 3%;
}

.perfil-derecho i{
    font-size: 12px !important
}

footer{
    text-align: center;
    padding-bottom: 2%;
}

.menu-iconos{
    font-size: 12px !important;
}

.especial{
    font-size: 24px;
    color: #29abe1;
    font-weight: 600;
}

.nick{
    padding-right: 2%;
}

.detalles-texto{
    background-color: #f3e353;
    font-size: 1.4em;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
    margin-bottom: 1%;
}

.detalles{
    padding-left: 2%;
}

.boton-message{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*Main CSS*/


/*Login Signup Page*/
a:focus,a:hover,a{
    outline:none;
    text-decoration: none;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top i {
    font-size: 18px;
    padding-bottom: 3%  ;
}

.login
.login-header {
    display: inline-block;
    width: 100%;
    background: #0e1a35;
}
-signup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.login-logo img {
    cursor: pointer;
    max-width: 171px;
    padding: 23px 15px 22px;
    width: 100%;
}

.login-header .navbar-right {
    margin-right: 0px;
}

.login-header .nav-tabs > li.active > a,
.login-header .nav-tabs > li.active > a:focus,
.login-header .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

.login-header .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 15px 30px;
    color: #fff;
}

.login-header .nav-tabs {
    border-bottom: none;
}

.login-header .nav-tabs > li {
    margin-bottom: 0px;
}

.login-header .nav > li > a:focus,
.login-header .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.login-header .nav-tabs > li.active {
    border-bottom: 6px solid #5584ff;
}

.login-inner h1 {
    color: #8492af;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-inner h1 span {
    color: #5584ff;
}

.login-form {
    text-align: center;
}

.login-form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #d4d9e3;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    color: #8492af;
    padding: 15px 50px;
    font-size: 17px;
    max-width: 550px;
}

.login-form label {
    margin-bottom: 30px;
    width: 100%;
}

.user input {
    background: rgba(0, 0, 0, 0) url("../images/user.png") no-repeat scroll 7px 12px;
}

.pass input {
    background: rgba(0, 0, 0, 0) url("../images/password.png") no-repeat scroll 7px 12px;
}

.mail input {
    background: rgba(0, 0, 0, 0) url("../images/mail.png") no-repeat scroll 4px 12px;
}

.login-signup .tab-content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: inline-block;
    margin-top: -8px;
    width: 100%;
}

.form-btn {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 400;
    max-width: 250px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 2px 8px #d2d2d2;
    -moz-box-shadow: 0 2px 8px #d2d2d2;
    -webkit-box-shadow: 0 2px 8px #d2d2d2;
}

.form-btn::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 9px;
}

.form-details {
    padding: 35px 0;
}

.tab-content .tab-pane {
    padding: 70px 0;
}


/*Login Signup Page*/


/*Home Page*/

.home {
    background: #f6f7fa;
}

#navigation {
    background: #222222;
}

#navigation {
    padding: 0;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}
.logo img {
    max-width: 180px;
    padding: 16px 0 17px;
    width: 100%;
}

.header-top {
    margin: 0;
    padding-top: 2px;
    max-height: 52px;
}

.header-top img {
    border-radius: 50%;
    max-width: 48px !important;
    width: 100%;
}

.add-project {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 27px 10px 45px;
    position: relative;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.add-project::before {
    background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
    content: "";
;
    height: 12px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 12px;
}

.add-project:hover {
    color: #ffffff;
}

.header-top i {
    color: #ffffff;
}

.icon-info {
    position: relative;
}
.navi i {
    font-size: 20px;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    background-color: #5fb6f3 !important;
    vertical-align: 2px;
    margin-left: 3px;
}

.icon-info .label {
    font-weight: 500;
    text-align: center;
}

.header-top li {
    display: inline-block;
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #ffffff;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -85px;
    padding: 17px;
}
.view {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
}

.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
}

.img-responsive {
    width: 100%;
}
#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    min-height: 100vh;
    max-height: 100%;
}
.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
}

header {
    display: inline-block !important;
    line-height: 23px;
    /*padding: 15px;*/
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo {
    text-align: center;
}

#navigation a {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 30px 10%;
    text-decoration: none;
}

#navigation i {
    margin-right: 15px;
    color: #5fb6f3;
}

#navigation .active a {
    background: #122143;
    border-left: 5px solid #f3e353;
    padding-left: 15px;
}

#navigation a:hover {
    background: #000 none repeat scroll 0 0;
    /*border-left: 5px solid #5fb6f3;
    padding-left: 15px;*/
    display: block;    
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f3e353;
}

.circle-logo {
    margin: 0 auto;
    max-width: 30px !important;
    text-align: center;
}
.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    padding: 0;
}

.user-dashboard h1 {
    color: #0e1a35;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding: 10px 0;
    text-transform: capitalize;
}
.sales {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
}
.sales button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #dadee7;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-right: 32px;
    color: #0e1a35;
}

.sales button::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 11px;
}
.sales  .btn-group {
    float: right;
}
.sales h2 {
    color: #8492af;
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.sales .dropdown-menu{
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 8px;
    width: 100%;
    color: #0e1a35;
}
.sales .btn-group.open .dropdown-toggle, .btn.active, .btn:active{
    box-shadow: none;
}
.sales .dropdown-menu > a {
    color: #0e1a35;
    display: inline-block;
    font-weight: 800;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}
#my-cool-chart svg {
    width: 100%;
}
.sales .dropdown-menu > a:hover{
    color: #5584FF;
}
.shield-buttons {
    display: none;
}
.close, .close:focus, .close:hover {
    color: #fff;;
    opacity: 1;
    text-shadow: none;
}
.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}
.modal-header.login-header h4 {
    color: #ffffff;
}
.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}
.modal-footer .add-project::before{display: none;}
.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}
.cancel {
    background: #0E1A35     ;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;

}
.modal{
    top: 20%;
}
.modal-header .close {
    margin-top: 2px;
}
.search input:focus{
    border-bottom: 1px solid #BDC4D4;
    line-height:22px;
    transition: 0.1s all;
}
.modal-header.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*Main CSS*/

}

@media only screen and (max-device-width: 767px) {
    .login-logo img {
        margin: 0 auto;
    }
    .login-details .nav-tabs > li {
        text-align: center;
        width: 50%;
    }
    .login-signup .login-inner h1 {
        font-size: 26px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .login-inner .login-form input {
        font-size: 15px;
        max-width: 100%;
        padding: 15px 45px;
    }
    .login-inner .form-details {
        padding: 25px;
    }
    .login-inner .login-form label {
        margin-bottom: 20px;
        width: 100%;
    }
    .login-inner .form-btn {
        margin: 0;
        max-width: 180px;
    }
    .tab-content .tab-pane {
        padding: 20px 0;
    }
    #navigation .navi a {
        font-size: 14px;
        padding: 20px;
        text-align: center;
    }
    #navigation .navi i {
        margin-right: 0px;
    }
    #navigation .navi a:hover,
    #navigation .navi .active a {
        background: #122143 none repeat scroll 0 0;
        border-left: none;
        display: block;
        padding-left: 20px;
    }
    header .header-top img {
        max-width: 38px !important;
    }
    .v-align header {
        padding: 12px 15px;
    }
    header .header-top li {
        padding-left: 13px;
        padding-right: 6px;
    }
    .navbar-default .navbar-toggle {
        border-color: rgba(0, 0, 0, 0);
    }
    .navbar-header .navbar-toggle {
        float: left;
        margin: 0;
        padding: 0;
        top: 12px;
    }
    button,
    html [type="button"],
    [type="reset"],
    [type="submit"] {
        outline: medium none;
    }
    .user-dashboard .sales h2 {
        color: #8492af;
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0;
    }
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 11px;
    }
    .user-dashboard .sales button {
        font-size: 11px;
        padding-right: 23px;
    }
    .user-dashboard .sales h2 {
        font-size: 12px;
    }
    .gutter{
        padding: 0;
    }
}

@media only screen and (max-device-width: 992px) {
    header .header-top li {
        padding-left: 20px !important;
        padding-right: 0;
    }
    header .logo img {
        max-width: 125px !important;
    }

}

@media only screen and (min-device-width: 767px) and (max-device-width: 998px){
    .user-dashboard .header-top {
        padding-top: 5px;
    }
    .user-dashboard .header-rightside {
        display: inline-block;
        float: left;
        width: 100%;
    }
    .user-dashboard .header-rightside .header-top img {
        max-width: 41px !important;
    }
    .user-dashboard .sales button {
        font-size: 10px;
    }
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 12px;
    }
    .user-dashboard .sales h2 {
        font-size: 15px;
    }
}
@media only screen and (min-device-width:998px) and (max-device-width: 1350px){
    #navigation .logo img {
        max-width: 130px;
        padding: 16px 0 17px;
        width: 100%;
    }
}

.panel-titulo2 {
    background-color: #29abe1;
    padding: 0.5%;
    margin-bottom: 0%;
    color: #fff;
}

a {
    color: #29abe1;
}

.balance{
    padding-top: 2%;
}

.ejemplo-webs{
    background-color: #d4d4d4;
    padding: 2%;
}

.ejemplo-titular{
    font-size: 1.8em;
    font-weight: 600;
}

.ejemplo-webs{
    background-color: #d4d4d4;
    padding: 2%;
}

.bloque{
    margin-top: 3%;
}

.amarrillo{
    background-color: #f3e353;
    border-color: #f3e353;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
}

.amarrillo:hover,

.amarrillo:focus {
    color: #000; border-color: #f3e353;
    background-color: #d7c94c !important;
}

.azul{
    background-color: #29abe1;
    color:#000;
    text-transform: uppercase;
    font-weight: 800;
}

.azul:hover, .azul:focus{
    color: #ccc;
    background-color: #187aa2 !important;
}

.profit{
    font-size: 21px !important;
}

form .error {
    color: #ff0000;
    font-style: italic;
}

.status-bar .label{display:block!important;text-align: center;}

.addspace-status a{background:#ddd!important;border:none;color:#666;text-transform:none!important;}
.addspace-status a span{font-weight:700;}
.addspace-status a:hover{color: #656565;}

.addspace-status a.btn-danger {color: #ff5b5a;}
.addspace-status a.btn-warning {color: #e49927;}
.addspace-status a.btn-success {color: #0b9c21;}
.addspace-status a.btn-default {color: #666;}

.addspace-status a.btn:hover {background-color: #fff!important;color:#666!important;}

.addspace-status a.btn.btn-active {background-color: #b8bab4 !important;}

.addspace-status .btn{float:left!important;}
.addspace-status .btn-active{}

.money-total{
    color: #1dd1a1;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-simple-emedia{
    background-color: #5fb6f3;
}

.btn-emedia{
    background-color: #5fb6f3;
    font-size: large;
    width: 190px;
    /*font-weight: bolder;*/
}

a.btn-emedia,a.btn-simple-emedia,button.btn-emedia,.btn-simple-emedia{
    text-decoration: none !important;
    color: white;
}

.btn-category{
    color: #fff;
    background-color: grey;
    border-color: grey;
}

.alert-default{
    color: white;
    background-color: white;
    border-color: white;
}

.panel-default > .row > .panel-heading{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.alert-default span{
    color: black;
}

.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */

    padding: 1em;
    border: solid;
}

.alert-message{
    background-color: white;
    border-color: white;
}

.home-logo > a > img{
    max-width: 200px;
    width: 100%;
    padding-top: 3%;
}

#topbar{
    background: #070707;
    height: 58px;
    max-height: 58px;
}

.btn-table-border{
    border-radius: 100px;
}

.home-background{
    background-color: #9e9e9e;
    color: #333;
    border-color: #ddd;
}

.btn-header{
    font-size: 20px;
    color: #fff;
    background-color: #1dd1a1;
    border-color: #1ccc9d;
    align-content: center;
    vertical-align: inherit !important;
}

.btn-header a{
    color: #fff;
}

.sidebar-help a{
    border-bottom: transparent !important;
    border-top: transparent !important;
    bottom:0;
    width:100%;

}

.topbar-logout{
    background-color: #393939;
    align-content: center;
    padding-top: 20px;
    /*max-height: 52px;*/
    height: 100%;
}

.emedia-title{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* Retoques #000000000 */
a.btn-emedia, 
button.btn-emedia {
    font-size: 16px;
}
.breadcrumbs {
    color: grey;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 10px;
}
/* Top bar */
ul.header-top {
    padding-top: 0;
}
#topbar .home-logo img {
    margin: 4px 0 0 21px;
}
#topbar div {/* Cancelamos el padding automatico de bootstrap */
    padding-right: 0;
    padding-left: 0;
}
#topbar ul.header-top > li {
    height: 58px;
    padding: 18px 8px;
    margin: 0px 14px;
    vertical-align: top;
}
#topbar ul.header-top > li:last-of-type {
    margin: 0;
}
#topbar ul.header-top > li.btn-header {
    border-radius: 0;
    padding: 14px 38px;
}
#topbar ul.header-top > li .fa {
    font-size: 16px !important;
}
/* Sidenav */
#navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 240px;
    position: relative;
}
#navigation .sidebar-help {
    position: absolute;
    bottom: 30px;
    width: 100%;
}
#navigation .navi .sidebar-help:hover {
    background-color: #000;
}
#navigation a {
    text-indent: 10px;
}
#navigation a .fa {
    font-size: 20px !important;
    position: relative;
    top: 1px;
    margin-right: 28px;    
}
/* My Webs */
.subheading {
    color: #858585;
    font-weight: 600;
    font-size: 14px;
}
.user-dashboard div.row {
    position: relative;
}
.absolute-right {
    position: absolute;
    right: 0;
}
.btn-emedia, .btn-simple-emedia {
    font-family: Helvetica, sans-serif;
}
.btn-invert-emedia {
    background: transparent;
    border: 1px solid #6ba9de;
    color: #6ba9de;
}
div.col-md-6.botones a {
    padding-top: 7px;
    font-family: Helvetica, sans-serif;
}
#addspaces-table {
    border: 8px solid white;
}
#addspaces-table th {
    background-color: white;
    padding: 7px 18px;
}
#addspaces-table td,
#sales-table td {
    padding: 20px 0 20px 10px;
    font-weight: 500;
}
#addspaces-table td:first-of-type {/* el index */
    font-weight: 600;
}
#addspaces-table td span,
#sales-table td span {
    border: none;
    height: 28px;
    padding-top: 5px;
    margin-top: -5px;
}
#addspaces-table td span.btn {
    width: 96px;
}
#addspaces-table td span.btn-success {
    background-color: #1dd1a1;
}
#addspaces-table td span.btn-warning {
    background-color: #ff9f43;    
}
#addspaces-table td span.btn-danger {
    background-color: #ee5253;    
}
#addspaces-table td.col-state-my-webs span.btn-success {   
    width: 65px;
    margin-left: 7px;   
}
#addspaces-table td.col-state-my-webs span.btn-warning,
#addspaces-table td.col-state-my-webs span.btn-danger {
    width: 78px;
}
    /* My Web - Acciones */
.btn-actions-container a {
    margin-right: 12px;
}
.btn-actions-container i {
    font-size: 17px !important;
}
.btn-actions-container .btn-close-action {
    background-color: transparent;
    border: none;
    padding: 0;
}
.btn-info-action .fa,
.btn-edit-action .fa{
    color: #666666;
}
.btn-pause-action .fa {
    color: #ff9f43;
}
.btn-play-action .fa {
    color: #89d3a8;
}
.btn-close-action .fa {
    color: #ee5253;
}


    /* My Web - cuantos elem por pagina */
#addspaces-table_length label,
#sales-table_length label {
    font-weight: normal;
}
#addspaces-table_length label select,
#sales-table_length label select {
    border-radius: 4px;
    padding: 7px 5px;
    margin: 0 3px;
    border: 1px solid #dcdcdc;
    background-color: transparent;
}
    /* My Web - Search bar */
#addspaces-table_filter label,
#sales-table_filter label {
    color: #5fb6f3;
}
#addspaces-table_filter label input,
#sales-table_filter label input {
    background: transparent;    
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    font-weight: normal;
    color: black;
    padding: 6px;
}
    /* My Web - paginator */
#addspaces-table_paginate a,
#sales-table_paginate a {
    border: 1px solid #e1e3e6;
    border-radius: 3px;
    margin-left: -1px;
    color: #6ba9de !important;
    font-weight: bold;
}
#addspaces-table_paginate span a,
#sales-table_paginate span a {
    background: transparent;    
}
/* Ventas  (Sales) */
#sales-table {
    border: 12px solid white;
}
#sales-table th {
    background-color: white;
    padding: 12px 18px;
}
#sales-table_length label {
    padding-left: 12px;
}
#sales-table td span{
    max-width: 96px;
}
#sales-table td span.btn-success {
    background-color: #1dd1a1; 
}
#sales-table td span.btn-danger {
    background-color: #ee5253;    
    width: 90px;
}
#sales-table td.msj-col a i.fa {
    color: #666666;
}
#sales-table td.msj-col a i {
    font-size: 16px !important;
    padding-left: 30px;
}
#sales-table td.col-estado-venta {
    padding-left: 0;
}
/* Monedero (Wallet) */
#addspaces-table tfoot tr {
    background-color: white;
}
#addspaces-table tfoot td {
    border-top: 1px solid #ddd;
}
#addspaces-table td.col-estado-trans span {
    width: 96px;
    text-align: center;
    margin-left: 5px;
}
/* Home */
div.home-welcome {
    margin-bottom: 25px;
}
div.avatar-container {
    width: 80px;
    padding-top: 20px;
    margin-right: 30px;
}
div.home-welcome-text {
    max-width: 900px;
}
h4.subheading {
    font-size: 15px;
}
div.home-info-btns {
    margin-bottom: 22px;
}
div.home-info-btns > div {
    padding: 0;
}
div.home-info-btns button {
    padding: 6px 20px;
    margin-right: 14px
}
div.home-info-btns button i.fa {
    font-size: 14px !important;
    margin-right: 7px;
}
.home-box {
    width: 32%;
    margin-right: 25px;
    padding: 0;
}
.home-box > .box-content > .row {
    margin-bottom: 10px;
    border-bottom: 1px solid #F0F0F0;
}
.home-box > .box-content > .row:last-of-type {
    border-bottom: none;
}
.home-box > .box-content > .row p {
    font-size: 13px;
    font-weight: 600;
}
.home-box > .box-content > .row .row > div {
    padding-left: 0;
}
.wallet-box, .faq-box {
    margin-right: 0;
}
.faq-box {
    padding: 20px;
}
div.box-title {
    overflow: auto;
    background-color: #eaeaea;
    padding: 23px;
}
div.box-title h3 {
    margin: 0;
    color: #666666;
    font-size: 15px;
    font-weight: 600;
}
div.box-title h3 i.fa {
    font-size: 15px !important;
    margin-right: 15px;
    font-weight: bold;
}
div.box-content {
    padding: 20px 5px;
    position: relative;
    height: 270px;
    overflow-y: auto;
}
div.box-content h6 {
    font-size: 14px;
    margin: 0;
}
div.box-content p {
    color: #b2b2b2;
    font-weight: 500;
}
div.box-content i.fa {
    font-size: 20px !important;

}
div.box-content h4 {
    text-align: center;
    margin-top: 70px;
}
div.box-content h4 span.money-total {
    font-size: 28px;
}
div.wallet-box a {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
}
div.trans-box .box-content div {
    padding-right: 0;
}
.label-accepted {
    color: #1dd1a1;
}
.label-pending {
    color: #ff9f43;
}
.label-closed {
    color: #ee5253;
}
    /* Home - faq box y box-lg */
.home-box-lg {
    width: 66%;
    margin-right: 25px;
    padding-left: 24px;
    padding-right: 24px;
}
.faq-box > div {
    padding: 0;
}
.faq-box h3 {
    margin-top: 0
}
.faq-box a, .home-box-lg {
    font-weight: 500;
}
.faq-box h3, .home-box-lg h3 {
    font-weight: 600;
}
@media only screen and (max-width: 768px) {
}
/* Messages */
div.single-msj-row {
    padding: 17px 0 2px 20px;
}
div.single-msj-row:last-of-type {
    padding-bottom: 20px;
}
div.single-msj-row > div > div {
    margin: 0;
    padding: 20px 0 15px 40px;
}
div.single-msj-row h4 {
    margin-bottom: 13px;
}
div.single-msj-row h4 a {
    color: #89bae5;
    font-weight: 600;
}
div.single-msj-row h4 span.unread-msjs {
    color: #858585;
    font-size: 17px;
    font-weight: 600;
}
div.single-msj-row h5.msj-status strong {
    font-size: 11px;
    padding: 3px 10px;
}
div.single-msj-row strong.btn-success {
    background-color: #1dd1a1;
    border-color: #1dd1a1;
}
div.single-msj-row strong.btn-warning {
    background-color: #ff9f43;
    border-color: #ff9f43;
}
div.single-msj-row strong.btn-danger {
    background-color: #ee5253;
    border-color: #ee5253;
}
/* Single Web Info */
.web-name {
    text-transform: lowercase;
    color: #29abe1;
}
div.btn-actions-container-lg {
    padding-top: 10px;
}
div.btn-actions-container-lg a {
    margin-left: 9px;
}
.category-tag {
    border-radius: 20px;
    background-color: grey;
    color: white;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 12px;

}
.category-row > div {
    padding-left: 0;
}
.category-row h3 {
    margin-top: 0;
}
    /* boxes */
.details-box {
    margin-right: 20px;
    overflow-x: hidden;
}
.web-info-box {
    padding: 30px 50px 25px;
}
.web-info-msjs .emedia-title {
    margin-left: 40px;
}
.web-info-msjs .emedia-title p {
    margin: 0;
}
.views-price-box {
    text-align: center;
}
.views-price-box div {
    height: 100%;
}
.views-price-box p {
    margin: 20% 0;
}
.views-price-box p span {
    font-size: 24px;
}
/* Web Edit */
.web-edit-panel > div.panel-heading {
    padding: 14px 35px;
}
input,
textarea,
select {
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
}
input::placeholder,
textarea::placeholder {
    color: #858585;
}
.web-edit-panel label {
    font-size: 21px;
    font-weight: 600;
}
.web-edit-panel .form-group {
    margin-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
}
.web-edit-btns {
    margin: 0;
    min-height: 105px;
    position: relative;
}
.web-edit-accept {
    position: absolute;
    bottom: 0;
    right: 0;
    /*left: 0;
    margin: 0 auto;*/
    width: 170px;
}
.web-edit-accept input {
    width: 100%;
}
.input-group-addon {
    background-color: #DCDCDC;
    font-weight: 600;
}
.limit-size-md {
    max-width: 200px;
}
/* User Edit y Pass change */
.user-edit-panel,
.user-pass-panel {
    padding: 40px 55px;
}
.user-edit-panel .form-group,
.user-pass-panel .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 28px;
}
.user-edit-panel label,
.user-pass-panel label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.user-edit-cancel, .user-edit-accept,
.user-pass-cancel, .user-pass-accept {
    float: right;
}
.user-edit-accept,
.user-pass-accept {
    width: 200px;
}
.user-edit-cancel,
.user-pass-cancel {
    width: 120px;
    margin-right: 20px;
}
.user-edit-cancel a,
.user-pass-cancel a {
    background: transparent;
    border: none;
    color: #29abe1;
    font-weight: 600;
}
/* User */
.user-basic-info {
    margin-bottom: 20px;
}
.user-basic-info > div {
    display: inline-block;
    vertical-align: top;    
}
.user-basic-info > div.info-container {
    padding-top: 10px;
}
.user-edit-btns {
    padding: 20px;
}
.user-edit-btns a:first-of-type {
    margin-right: 20px;
}
    /* User - Mis Webs */
.user-weburl-box span {
    border: none;
    border-radius: 0;
    padding: 18px 10px;
    font-weight: 600;
}
/* Deactivate webpage modal */
.modal-content.deactivate-web {
    border-radius: 0;
}
.modal-content.deactivate-web .modal-header {
    padding: 0;
}
.modal-content.deactivate-web button.close {
    color: #858585;
    font-size: 49px;
    font-weight: 300;
    margin: -2px 22px 0;
}
.modal-content.deactivate-web .modal-body {
    padding: 40px 80px;
}
.modal-content.deactivate-web .modal-footer button {
    border: none;
    color: #858585;
    font-weight: 600;
    margin-right: 15px;
}
.modal-content.deactivate-web .modal-footer a {
    background-color: #ee5253;
    border-color: #ee5253;
    width: 200px;
}
/* Ventas > Mensajes */
.alert-message {
    margin: 27px 16px;
}
.alert-message > a.msj-receptor,
.alert-message > a.msj-emisor {
    display: inline-block;    
    margin: 24px;
}
.alert-message > a.msj-receptor img,
.alert-message > a.msj-emisor img {
    width: 72px;
}
.alert-message > a.msj-emisor {
    float: left;
    margin-right: 0;
}
.alert-message > a.msj-receptor {
    float: right;
}
.alert-message > div.msj-content {
    display: inline-block;
    padding: 30px 45px 15px;
    max-width: 84%;
}
.msj-content h5.msj-heading {
    margin-top: 0;
    color: #757575;
}
.msj-content p.msj-sub-info {
    color: #b2b2b2;
    font-weight: 600;
    font-size: 12px;
}
.msj-content p.msj-text {
    font-weight: 500;
}
/* @media only screen and (max-device-width: 767px) */